.ArrangeCourse {
  .table th {
    white-space: nowrap;
  }
  td {
    padding: 0.3rem !important;
    font-size: 12px !important;
  }
  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }
  th {
    padding-left: 0px !important;
  }
}
